<a href="https://colab.research.google.com/github/IsaacGaribay/CS122CH00/blob/main/Copy_of_ch04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://nimbus-screenshots.s3.amazonaws.com/s/85a61d1e5ea3b6f4e340944f58844dd2.png" width=640>

</a>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> Chapter 4. Repetition Structures </p>

***

## <p style="background-color: grey; color: white "> ‚óºÔ∏è  While loop </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 1. Basic While-loop Structures</p>

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.0 </p>

#### Run all the cells and figure out the basic usage of while loop structure

In [1]:
i = 0
while (i < 10):
	i = i + 1
	print (i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [2]:
i = 0
while ( i< 10):
	print (i, end=' ')
	i = i + 1

0 1 2 3 4 5 6 7 8 9

In [3]:
i = 0
while ( i < 10):
	print (i, end=' ')
	i = i + 2

0 2 4 6 8

In [4]:
i = 10
while ( i > 0):
	print (i, end=' ')
	i = i - 1

10 9 8 7 6 5 4 3 2 1

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.1 </p>

#### Complete the code to print the numbers from 10 to 20 with the step 2 (10, 12, ...20)
> Use the while loop

In [5]:
begin = 10
end = 20

while begin <= end:
  print(begin)
  begin += 2

10
12
14
16
18
20

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.2 </p>

#### Complete the code to print the numbers from the input value 'begin' to another input 'end'.
> Use the while loop  <br>

<font color='red'> Note: the input value 'begin' can be greater than 'end'. <br>
if begin > end, print all the values from 'begin' to 'end' in decreasing order
</font>

In [6]:
begin = int(input('Enter the starting value: '))
end = int(input('Enter the end value: '))

# Complete the code to print from begin to end
while begin <= end:
  print(begin)
  begin += 1

Enter the starting value: 1
Enter the end value: 10
1
2
3
4
5
6
7
8
9
10

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.3 </p>

#### Complete the code to print the 9 multiplication numbers from the given input value 'num'
> For example, if the input "num" is 3, this code will print <br>
> 3 6 9 12 15 18 21 24 27 <br>
> Use the while loop  <br>

In [7]:
num = int(input('Enter a number: '))

i = 1 # Initialize a counter for the loop
while i <= 9:
  print(f"{num} x {i} = {num * i}")
  i += 1 # Increment the counter

Enter a number: 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.4 </p>

#### Complete the code to print all numbers
#### from 'start' to 'end' if 'start' < 'end'
#### from 'end' to 'start' if 'end' < 'start'
> For example, if start = 3, end = 5, it will print 3 4 5 <br>
> if start = 10, end = 7, it will print 7 8 9 10  <br>
> Use the <font color='red'> while loop </font> <br>

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.5 </p>

#### Complete the code to print all numbers
#### from 'start' to 'end' if 'start' < 'end'
#### from 'end' to 'start' if 'end' < 'start'
> For example, if start = 3, end = 5, it will print 3 4 5 <br>
> if start = 10, end = 7, it will print 7 8 9 10  <br>
> Use the <font color='red'> while loop </font> <br>

In [8]:
start = int(input('Enter a number: '))
end = int(input('Enter a number: '))

if start < end:
  for num in range(start, end +1):
      print(num)
else:
   for num in range(start, end -1, -1):
      print(num)

Enter a number: 3
Enter a number: 5
3
4
5

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.6 </p>

#### Complete the code to get the summation of 1 to the input 'num'
> For example, if num = 5, it will print 15 because 1+2+3+4+5=15 <br>
> if num = 10, it will print 55 because 1+2+3+4+5+6+7+8+9+10<br>
> Use the <font color='red'> while loop </font> <br>

In [9]:
num = int(input('Enter a number: '))
val = 1
total = 0
while val <= num:
    total += val
    val += 1
print (f'The total from 1 to {num} is {total}')

Enter a number: 1
The total from 1 to 1 is 1

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.7 </p>

#### Complete the code to get the summation between 'start'(inclusive) and 'end'(inclusive)
#### Assume that 'start' < 'end'  
> For example, if 'start' = 5, 'end' = 10, it will print 45 because 5+6+7+8+9+10=15 <br>
> if 'start' = 10, 'end'= 20,  it will print 165 because 10+11+12+13+14+15+16+17+18+19+20 = 165 <br>
> Use the <font color='red'> while loop </font> <br>

In [10]:
start = int(input('Enter a number: '))
end = int(input('Enter a number: '))

# Initialize the variable to store the sum
total_sum = 0

# Loop from 'start' to 'end' (inclusive) and calculate the sum
for num in range(start, end + 1):
  total_sum += num

  # Output the result
  print(f"The summation from {start} to {end} is: {total_sum}")

Enter a number: 5
Enter a number: 10
The summation from 5 to 10 is: 5
The summation from 5 to 10 is: 11
The summation from 5 to 10 is: 18
The summation from 5 to 10 is: 26
The summation from 5 to 10 is: 35
The summation from 5 to 10 is: 45

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.8 </p>

#### Complete the code to print all multiplication numbers of 3 between input 'start' and 'end'(inclusive)
#### Assume that 'start' < 'end'  
> For example, if start = 2, end = 10, it will print 3 6 9 <br>
> if start = 12, end = 21, it will print 12 15 18 21  <br>
> Use the <font color='red'> while loop </font> <br>

In [11]:
start = int(input('Enter a number: '))
end = int(input('Enter a number: '))

i = start // 3
i += 1 if start % 3 else 0
while i*3 <= end:
    print (i*3)
    i += 1

Enter a number: 2
Enter a number: 10
3
6
9

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.9 </p>

#### Complete the code to print all multiplication numbers of 'seed' between input 'start' and 'end'(inclusive)
#### Assume that 'seed' is greater than 1
#### Assume that 'start' < 'end'. Same as 1.8 except the 'seed'
> For example, if start = 2, end = 10, seed=3, it will print 3 6 9 <br>
> if start = 12, end = 31, seed = 6, it will print 12 18 24  <br>
> Use the <font color='red'> while loop </font> <br>

In [16]:
seed = int(input('Enter the seed number for multiplication: '))
start = int(input('Enter a number: '))
end = int(input('Enter a number: '))

# Find the first multiple of 'seed' greater than or equal to 'start'
first_multiple = start if start % seed == 0 else (start // seed + 1)* seed

#Print multiples of 'seed' between 'start' and 'end' (inclusive)
for multiple in range(first_multiple, end + 1, seed):
  print(multiple)

Enter the seed number for multiplication: 3
Enter a number: 2
Enter a number: 10
3
6
9

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.10 </p>

#### Complete the code to repeat the input number until the inputted number is greater than 100
#### if the input number is greater than 100, stop the while loop
#### Otherwise, print the <font color='red'> number </font>
> For example, if the series of input is 5 10 15 20 150, <br>
> print a input number at each iteration in the while loop, except the 150 <br>
> 5 <br> 10 <br> 15<br> 20<br>  
> Use the <font color='red'> while loop </font> <br>

In [18]:
total = 0
number = int(input('Enter a number: '))

while number <= 100:
    print (number)
    total += number # This will add the number to the total (optional, if needed)
    number = int(input('Enter a number: '))

print("The input number is greater than 100, stopping the loop.")

Enter a number: 5
5
Enter a number: 10
10
Enter a number: 15
15
Enter a number: 20
20
Enter a number: 150
The input number is greater than 100, stopping the loop.

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.11 </p>

#### Complete the code to repeat the input of a number until the sum of all input numbers is greater than 100.
#### if the sum of all input numbers is greater than 100, stop the while loop
#### Otherwise, add the input number to the variable "<font color='red'> total </font>"
> For example, if the series of input is 5 10 15 20 150, <br>
> the total must be 5 + 10 + 15 + 20 + 150 = 200, and stop the while loop   <br>
> After the while loop, print the 'total'
> Use the <font color='red'> while loop </font> <br>

In [ ]:
number = int(input('Enter a number '))
total = 0
while total <= 100:
    # complete the code
    number = int(input('Enter a number '))
print (f'The total of input numbers are {total}')

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.12</p>

#### Complete the code to print all alphabets between input letters 'start' and 'end'
#### 'start' and 'end' letters are inclusive
#### Assumption. 'start' and 'end' is lower case letters. All inputs are lower case.
> For example, if 'start' is 'a' and 'end' is 'f'  <br>
> print 'a', 'b', 'c', 'd', 'e', 'f' <br>
> Use the <font color='red'> while loop </font> <br>

#### Refer to the following example code to practice the ord() and chr() funtions

In [19]:
start = 'a'
print (ord(start))  # it will print 97, which is ASCII code for the letter 'a'

next = ord(start) + 1
print (next)  # it will print 97, which is ASCII code for the letter 'b'

97
98

In [20]:
chr(115), chr(105), chr(98)     # by using the ASCII code 115, we can convert it as a character

('s', 'i', 'b')

In [21]:
start = 'a'
next = ord(start) + 1
print (chr(next))

b

In [24]:
start = input('Enter a starting letter: ')
end = input('Enter a starting letter: ')

# Using the ord() function to convert the characters to their Unicode values
for letter in range(ord(start), ord(end) + 1):
  #Convert back to characters using chr() and sprint
  print(chr(letter), end=' ')

Enter a starting letter: a
Enter a starting letter: f
a b c d e f

***

#### Loop until the character 'q' is entered

In [25]:
user_val = input('Enter a character')
while ( user_val != 'q' ):
	print ( user_val, end='\t')
	user_val = input('Enter a character')

Enter a charactera
a	Enter a characterb
b	Enter a characterc
c	Enter a characterd
d	Enter a charactere
e	Enter a characterf
f	Enter a characterg
g	Enter a characterh
h	Enter a characteri
i	Enter a characterj
j	Enter a characterk
k	Enter a characterl
l	Enter a characterm
m	Enter a charactern
n	Enter a charactero
o	Enter a characterp
p	Enter a characterq

In [26]:
user_num = int(input('Enter your number'))
while ( user_num < 0 or user_num > 10):
	print ("Invalid Input. Try again")
	user_num = int(input('Enter your number'))
print (" user input is ", user_num)

Enter your number1
 user input is  1

## Don't forget to <font color='red'> **"commit"** </font> your work or <font color='red'> **"save"** </font> in Google Colab
## before moving to the next section.

***
## <p style="background-color: grey; color: white ">  ‚óºÔ∏è For loop </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 2. Basic For-loop Structures</p>

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #2.1</p>
#### Complete the following code cells and figure out the syntax of for-loop

##### Basic Syntax of For-Loop

In [27]:
for i in range(10):
    print (i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [28]:
for num in range(5):
	print (num, end=' ')

0 1 2 3 4

##### Complete this code to print 0 to <font color='red'> 10</font> with for-loop

In [30]:
for val in range(11): # range(11) generates numbers from 0 to 10
    print (val, end=' ') #print each number on the same line with a space

0 1 2 3 4 5 6 7 8 9 10

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #2.2: with steps</p>
#### Complete the following code cells and check out the results

In [31]:
for i in range(0, 10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [32]:
for i in range(1,10):
    print (i)

1
2
3
4
5
6
7
8
9

In [33]:
for i in range(5,10):
    print (i)

5
6
7
8
9

In [34]:
for i in range(0, 10, 2):
    print (i)

0
2
4
6
8

In [35]:
for i in range(5, 25, 5):
    print (i)

5
10
15
20

Complete the code to print 10, 12, 14, 16, 18, 20

In [37]:
for i in range(10, 21, 2): # Start at 10, go up to (but not including) 21, increment by 2
  print(i)

10
12
14
16
18
20

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #2.3: decreasing</p>
#### Complete the following code cells and check out the results

In [38]:
for i in range(10, 0): # not working
    print (i)

In [39]:
for i in range(10, 0, -1):
    print (i)

10
9
8
7
6
5
4
3
2
1

In [40]:
for i in range(10, 0, -2):
    print (i)

10
8
6
4
2

Complete the code to print 15, 12, 9, 6, 3, 0

In [42]:
for i in range(15, -1, -3):
    print (i)

15
12
9
6
3
0

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #2.4: list values in for-loop</p>
#### Complete the following code cells and check out the results

#### List can be used for-loop to iterate all elements
```
for val in [0,1,2,3,4]:
    print (val)
```

In [43]:
for val in [0,1,2,3,4]:
    print (val)

0
1
2
3
4

In [44]:
for str in ['Java', 'Python', 'C++', 'R', 'Ruby', 'Java Script']:
	print (str, end=' ')

Java Python C++ R Ruby Java Script

In [45]:
for val in [10, 20, 30]:
	print (val)

listval = [10, 20, 30]
for val in listval:
	print (val)

10
20
30
10
20
30

Complete the code to get the summation of 5 user input values

In [47]:
total  = 0
for  i in range(5):
	user_num = int(input('Enter your num'))
	total += user_num
print ("Summation is", total)

Enter your num3
Enter your num5
Enter your num7
Enter your num2
Enter your num4
Summation is 21

Compare the while-loop version to for-loop

In [48]:
sum = 0
i = 0
while (i < 5):
	user_num = int(input('Enter your num'))
	sum += user_num
	i += 1
print ("Summation is", sum)

Enter your num3
Enter your num5
Enter your num7
Enter your num2
Enter your num4
Summation is 21

In [49]:
i = 0

while True:
	i += 1
	print (i)
	if ( i > 10):
		break

1
2
3
4
5
6
7
8
9
10
11

### Calculating Running Total

In [51]:
sum = 0
for i in range(5):
	number = int(input('Enter your number'))
	sum += number
print ('Total {0}'.format(sum))

Enter your number10
Enter your number5
Enter your number-3
Enter your number8
Enter your number2
Total 22

##### While-loop version

In [52]:
i = 0
while (i < 5):
	number = int(input('Enter your number'))
	sum += number
	i += 1
print ('Total {0}'.format(sum))

Enter your number10
Enter your number20
Enter your number30
Enter your number40
Enter your number50
Total 172

### üëâ Complete the code to get the summation of 5 user input values with for-loop

In [54]:
#Initialize a variable to store the total sum
total_sum = 0

#Use a for-loop to get 5 user unputs
for i in range(5):
  #Prompt the user for input
  user_input = float(input(f"Enter value {i + 1}: ")) #convert input to float
  total_sum += user_input # Add the input value to the total sum

# Print the total sum
print("The total sum of the values is:", total_sum)

Enter value 1: 10
Enter value 2: 5
Enter value 3: 15
Enter value 4: 20
Enter value 5: 25
The total sum of the values is: 75.0

### üëâ Complete the code to calculate the sum of 10 user input <font color='red'> even </font> values.

In [93]:
# Initialize sum variable
even_sum = 0
count = 0

# Loop to get 10 even values from the user
while count < 10:
    try:
        num = int(input("Enter an even number: ")) # Take input from user
        if num % 2 == 0:  # Check if the number is even
            even_sum += num
            count += 1
        else:
            print("That's not an even number. Try again.")
    except ValueError:
        print("Invalid input. Please enter an integer.")

# Output the sum of even numbers
print(f"The sum of the 10 even numbers is {even_sum}")

Enter an even number: 2
Enter an even number: 4
Enter an even number: 6
Enter an even number: 8
Enter an even number: 10
Enter an even number: 12
Enter an even number: 14
Enter an even number: 16
Enter an even number: 18
Enter an even number: 20
The sum of the 10 even numbers is 110

#### What is the main difference between for-loop and while-loop?
#### In which case the while-loop has advantage?

#####  üíØ Make your answer here with MD syntax
- bullet
> code
<font color='red'> MD syntax example </font>

## Don't forget to <font color='red'> **"commit"** </font> your work or <font color='red'> **"save"** </font> in Google Colab
## before moving to the next section.

***
## <p style="background-color: grey; color: white">  ‚óºÔ∏è Random Numbers </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 3. Random Numbers </p>

#### To create the Random Numbers, import the random module first
> <font color='red'> import random </font>

#### Random module supports the varous functions to generate random numbers
#### Here is the link to learn more about "Random" module
[Manual for Random Modlue](https://docs.python.org/3/library/random.html)

In this first example, we will use only "randint()" function

In [94]:
import random

randnum = random.randint(0, 100) # will return a random number between 0 and 100 (inclusive)
randnum

43

In [95]:
rdnum1 = random.randint(0,10)
rdnum2 = random.randint(0,10)
rdnum3 = random.randint(0,10)

print (f'The generated random number is {rdnum1}, {rdnum2} and {rdnum3}')

The generated random number is 4, 8 and 10

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.1:  Random number</p>

#### Complete the code to generate the random number between 10 and 20

In [97]:
import random
#Generate a random integer between 10 and 20 (inclusive)
random_number = random.randint(10,20)

print(f"The random number between 10 and 20 is: {random_number}")

The random number between 10 and 20 is: 20

#### Complete the code to generate 5 random number between 10 and 20 using for loop

In [98]:
import random
for i in range(5):
    rdnum = random.randint(10, 20)
    print (rdnum, end=' ')

13 18 19 18 14

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.2  </p>
#### Complete the code to generate 5 radom numbers between 10 and 20, and calculate the sum of all random numbers
##### ‚úì No need to use the "list" data type.

In [99]:
import random

#initialize the sum variable
total_sum = 0
#Generate 5 random numbers and calculate their sum
for _ in range(5):
  random_number = random.randint(10,20)
  total_sum += random_number
  print(f"Random Number: {random_number}")

#print the total sum
print(f"Total sum: {total_sum}")

Random Number: 12
Random Number: 14
Random Number: 18
Random Number: 20
Random Number: 18
Total sum: 82

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.3  </p>
#### Complete the code to generate 5 radom numbers between 0 and 10, and find the greatest number
##### ‚úì No need to use the "list" data type.

In [100]:
import random

maxval = None #Initialize maxval to none

for i in range(5):
    rdnum = random.randint(0,10)
    if i == 0: # if it is the first iteration
        maxval = rdnum # We assume that the first rdnum is greatest number
    if rdnum > maxval:  # if the next rdnum is greater than the current maxval, keep it as maxval
        maxval = rdnum
    print (rdnum, end=' ')

print (f'\nThe greatest random number is {maxval}')

2 6 6 6 4
The greatest random number is 6

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.4  </p>
#### Complete the code to generate 5 radom numbers between 0 and 10, and find the least number
##### ‚úì No need to use the "list" data type.

In [101]:
import random
#initialize a variable to hold the least number
least_number = None
#generate 5 random numbers and find the least number
for _ in range(5):
  number = random.randint(0, 10) #generate a random number between 0 and 10
  print(f"Generated number: {number}") #print the generated number

  #update the least number
  if least_number is None or number < least_number:
    least_number = number
  #output the least number
  print(f"The least number is: {least_number}")

Generated number: 2
The least number is: 2
Generated number: 6
The least number is: 2
Generated number: 0
The least number is: 0
Generated number: 5
The least number is: 0
Generated number: 5
The least number is: 0

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.5  </p>
#### Write a program that generates a random number between 0 and 100 repeatedly.
#### The while loop will stop if it is greater than the immediate preceding random number.
##### ‚úì No need to use the "list" data type. <br>

In [103]:
import random
flag = 1
prev_num = 101 #set to a value higher than the range of generated numbers
while (flag):
	current_num = random.randint(0,100) #Generate a random number
	print (current_num, end = ' ') #Print the current random number
	if ( current_num > prev_num): #check if current number is greateer than the previous
		flag = 0; # Stop the loop if the condition is met
	prev_num = current_num #update previous number for the next iteration

77 69 80

## Don't forget to <font color='red'> **"commit"** </font> your work or <font color='red'> **"save"** </font> in Google Colab
## before moving to the next section.

***
## <p style="background-color: grey; color: white">  ‚óºÔ∏è List and For loop </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 4. List and For loop </p>

#### list is the data type that can hold the multiple values as a element
#### For example
> <code> mylist = [10, 20, 30, 40, 50] </code>

#### Each element can be accessed by using index, for example, to access the 2nd element
> <code> mylist[1]   # it will print the value 20 </code>

In [104]:
mylist = [10, 20, 30, 40, 50]
print (mylist[0])
print (mylist[1])
print (mylist[2])
print (mylist[3])
print (mylist[4])

10
20
30
40
50

In [105]:
mylist = [10, 20, 30, 40, 50]
total = mylist[0] + mylist[1] + mylist[2] + mylist[3] + mylist[4]
print (total)

150

#### Print all elements in the list

In [106]:
mylist = [10, 20, 30, 40, 50]
for idx in range(5):
	print (mylist[idx], end=' ')

10 20 30 40 50

#### Print all elements in reverse order in the list

In [107]:
mylist = [10, 20, 30, 40, 50]
for idx in range(4, -1, -1):
	print (mylist[idx], end=' ')

50 40 30 20 10

#### Print all elements in reverse order by using the "reversed()" function

In [108]:
for i in reversed(range(5)):
    print (i, end=' ')  # it will print 4 3 2 1 0, # Now you can these sequence to access the elements

4 3 2 1 0

In [109]:
mylist = [10, 20, 30, 40, 50]
for idx in reversed(range(5)):
	print (mylist[idx], end=' ')

50 40 30 20 10

#### Accessing each element directly without index in the for-loop

In [110]:
mylist = [11, 22, 33, 44, 55]

for v in mylist:        # the variable v will be each element in the repetition.
    print (v, end=' ')

11 22 33 44 55

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #4.1  </p>
#### Calculate the sum of all elements using for-loop
#### Do not use the function sum(). Need to practice the for-loop and develop your algorithm

In [111]:

mylist = [10, 20, 30, 40, 50]
total = 0

# Usinf a for-loop to calculate the sum of all elements
for number in mylist:
  total += number #add each element to total

  print("The total sum is :", total)

The total sum is : 10
The total sum is : 30
The total sum is : 60
The total sum is : 100
The total sum is : 150

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #4.2  </p>
#### Find the least number in the list.
#### Do not use the function <font color='red'>min() </font>. <br> Need to practice the for-loop and develop your algorithm
#### Follow the algorithm steps to find the least number
> 1) Assume that the 1st element is the least number    
>> <code> minval = mylist[0] </code>
> 2) Iterate all elements from 2nd to the last
>> <code> for i in range(len(mylist)): </code>
> 3) If any element in the list is less than the current, replace the minval with the current element
>> <code> if mylist[i] < minval: </code>
>>> <code> minval = mylist[i] </code>

In [112]:
mylist = [10, 20, 30, 40, 50]
# step 1: Initialize least with the first element
least = mylist[0]

#step 2: Iterate through the list
for number in mylist:
  #step 3: compare each element
  if number < least:
    least = number #update least if current number is smaller

# step 4: output the result
print("the least number in the list is:", least)

the least number in the list is: 10

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #4.3  </p>
#### Complete the code that determines whether the input value is in the list or not
#### Do not use the operator <font color='red'>in </font>. <br> Need to practice the for-loop and develop your algorithm
> input number <br>
> for each element in the list <br>
>> compare input number to each element <br>
>> if two values are same, print True <br>

In [113]:
#list of numbers to check against
numbers =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#input target number
target = int(input('Enter a number: '))

#initialize a variable to track if the number is found
found = False

#loop through each number in the list
for number in numbers:
  if number == target:
    found =True #set found to true if the number matches
    break #exit the loop as we've found the number

#check the result and print the output
if found:
  print (f'{target} is in the list. ')
else:
  print(f'{target} is not in the list.')

Enter a number: 8
8 is in the list.

## Don't forget to <font color='red'> **"commit"** </font> your work or <font color='red'> **"save"** </font> in Google Colab
## before moving to the next section.

***
## <p style="background-color: grey; color: white">  ‚óºÔ∏è Break and Continue </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 5. Break and Continue </p>


#### In programming, the break and continue statements are used to alter the flow of loops:
<ul>
	<li><code>break</code> exits the loop entirely</li>
	<li><code>continue</code> skips the current iteration and proceeds to the next one</li>
</ul>

### Example code: Before run the below cell, guess the value of i after for loop

In [114]:
for i in range(5):
    if i == 3:
        break
print (i)       # value i? why?

3

### Example code: 10 iterations with while-loop and break

In [115]:
i = 0
while True:
    if i == 10:
        break
    print (i, end=' ')
    i += 1

0 1 2 3 4 5 6 7 8 9

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #5.1  </p>
#### Complete the code that input a number until the input value is -1
> Use the while loop and break

In [119]:
while True:
    number = int(input('Enter a number: '))
    if number == -1: #check if the input is -1
      break #exit the loop if it is
    print (number) #print the number if its not -1

Enter a number: 1
1
Enter a number: -1

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #5.2  </p>
#### Complete the code that input a word until the input value is 'stop'
> Use the while loop and break

In [120]:
while True:
    word = input('Enter a word: ')
    if word.lower() == 'stop': #check if the input is 'stop'
        break #exit the loop if it is
    print(word) #print the word if its not 'stop'

Enter a word: hello
hello
Enter a word: stop

## Don't forget to <font color='red'> **"commit"** </font> your work or <font color='red'> **"save"** </font> in Google Colab
## before moving to the next section.

***
## <p style="background-color: grey; color: white">  ‚óºÔ∏è While-else for-else </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 6. while-else for-else </p>
### While and for loop also has the "else" clause

#### With the else statement we can run a block of code once when the condition no longer is true:

In [121]:
i = 1
while i < 10:
  print(i, end=' ')
  i += 1
else:
  print("\ni is no longer less than 10")

1 2 3 4 5 6 7 8 9
i is no longer less than 10

#### What is the difference with the following code?

There is no difference between two while-loops.

In [122]:
i = 1
while i < 10:
  print(i, end=' ')
  i += 1
print("\ni is no longer less than 10")

1 2 3 4 5 6 7 8 9
i is no longer less than 10

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #6.1  </p>
#### Run the following example to see the difference
#### At the 1st try, use the input series 10, 15, 20, 25, 30
#### At the 2nd try, use the input series 10, 15, -1 <font color='red'> ‚ö†Ô∏è "else" part will not be executed

In [125]:
i = 0
while i < 5:
    number = int(input('Enter a number: '))
    print (number, end= ' ')
    if number == -1:
        break
    i += 1
else:
    print ('Executed while-else part')

Enter a number: 10
10 Enter a number: 15
15 Enter a number: -1
-1

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #6.2  </p>
#### Write a code to decide all the elements in the list are positive or not

#### [Version 1]

In [126]:
mylist = [1,2,-3, 4, 5]

flag = True
for v in mylist:
    if v < 0:
        flag = False

if flag:
    print ('All elements are positive value')
else:
    print ('All elements are not positive value')

All elements are not positive value

#### [Version 2]
#### for-else has advantage when you check the condition "for all elements"

In [127]:
mylist = [1,2,-3, 4, 5]

for v in mylist:
    if v < 0:
        print ('All elements are not positive value')
        break
else:
    print ('All elements are positive value')

All elements are not positive value

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #6.3  </p>
#### Write a code to determine if the list contains an element that matches the input number

In [129]:
number = int(input('Enter a number: '))
mylist = [10, 12, 14, 16, 18, 20]

for i in range(len(mylist)):
    if number == mylist[i]:
        print (f'The value {number} is in the list')
        found = True
        break #exit the loop since we found the number
else:
    print (f'The value {number} is not in the list')

Enter a number: 14
The value 14 is in the list

## Don't forget to <font color='red'> **"commit"** </font> your work or <font color='red'> **"save"** </font> in Google Colab
## before moving to the next section.

***
## <p style="background-color: grey; color: white">  ‚óºÔ∏è Input Validation </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 7. Input Validation </p>

#### Complete the following code segments and run it
#### Figure out the code algorithms

#### Code that checks whether the input number is between 0 and 100

In [130]:

number = int(input('Enter your input'))

while ( number < 0 or number > 100):
	number = int(input('The input should be between 0 and 100'))

print (number)

Enter your input88
88

#### Print a character until 'q' is entered

In [131]:
user_char =  input('Enter your character')

while( user_char != 'q'):
	print (user_char, end=' ')
	user_char =  input('Enter your character')

Enter your charactera
a Enter your characterq

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #7.1  </p>
#### Complete the code using "try-except" clause to decide whether the input causes an "ValueError" or not

## Try-except statement
> learn more about "try-except" throught the [link](https://docs.python.org/3/tutorial/errors.html) <br>
> [another resource to learn try-except](https://python101.pythonlibrary.org/chapter7_exception_handling.html)
#### Try to input the "non integer value" like a letter

In [134]:
try:
	user_num = int(input('Enter a number'))
except ValueError:
	print ('Invalid input: Value Error')
	user_num = None #set user_num to none or any default values

print (user_num)

Enter a number3.14
Invalid input: Value Error
None

#### input a number until it is valid

In [137]:
while True:
	try:
		user_num = int(input('Enter a number'))
	except ValueError:
		print ('Invalid input: Value Error')
		continue
	else:
		print (user_num)
		break #Exit the loop if input is valid

Enter a number5
5

## Don't forget to <font color='red'> **"commit"** </font> your work or <font color='red'> **"save"** </font> in Google Colab
## before moving to the next section.

***
## <p style="background-color:grey; color:white">  ‚óºÔ∏è Nested Loop  </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 8. Nested Loop </p>

#### Check out the following example codes and figure out the results

#### All combinations of Set A (0, 1, 2) and Set B (0, 1, 2, 3, 4)
```
(0, 0) (0, 1) (0, 2) (0, 3) (0, 4)
(1, 0) (1, 1) (1, 2) (1, 3) (1, 4)
(2, 0) (2, 1) (2, 2) (2, 3) (2, 4)
```

In [138]:
for i in range(3):
    for j in range(5):
        print (i, j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4

In [139]:
for i in range(3):
	for j in range(5):
		print (f'({i}, {j})', end=' ')
	print ()

(0, 0) (0, 1) (0, 2) (0, 3) (0, 4)
(1, 0) (1, 1) (1, 2) (1, 3) (1, 4)
(2, 0) (2, 1) (2, 2) (2, 3) (2, 4)

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #8.1  </p>
#### Complete the code in the nested for loop to print the result below
```
(0, 0) (0, 1) (0, 2)
(1, 0) (1, 1) (1, 2)
(2, 0) (2, 1) (2, 2)
(3, 0) (3, 1) (3, 2)
(4, 0) (4, 1) (4, 2)
```

In [140]:
for i in range(5): #outer loop for roqs (0 to 4)
    for j in range(3): #inner loop for columns (0 to 2)
        print (f'({i}, {j})', end=' ')
    print() #move to the next line after each row

(0, 0) (0, 1) (0, 2)
(1, 0) (1, 1) (1, 2)
(2, 0) (2, 1) (2, 2)
(3, 0) (3, 1) (3, 2)
(4, 0) (4, 1) (4, 2)

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #8.2  </p>
#### Complete the code in the nested for loop to print the result below
```
(0, 0) (0, 1) (0, 2) (0, 3)
(1, 0) (1, 1) (1, 2) (1, 3)
(2, 0) (2, 1) (2, 2) (2, 3)
```

In [142]:
for i in range(3): #i will take values 0, 1, 2
    for j in range(4): #j will take values 0, 1, 2, 3
        print (f'({i}, {j})', end=' ')
    print()

(0, 0) (0, 1) (0, 2) (0, 3)
(1, 0) (1, 1) (1, 2) (1, 3)
(2, 0) (2, 1) (2, 2) (2, 3)

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #8.3  </p>
#### Expect the output result before executing the code cell  
```
Explain the result. why?
```

In [151]:
for i in range(9,6,-1):
	for j in range(3):
		print (f'({i},{j})', end=' ')
	print ()

(9,0) (9,1) (9,2)
(8,0) (8,1) (8,2)
(7,0) (7,1) (7,2)

#### Your answer:
#### What is the output? Why?
***

In [150]:
for i in range(5):
	for j in range(i, 5):
		print (f'({i},{j})', end=' ')
	print()

(0,0) (0,1) (0,2) (0,3) (0,4)
(1,1) (1,2) (1,3) (1,4)
(2,2) (2,3) (2,4)
(3,3) (3,4)
(4,4)

#### Your answer:
#### What is the output? Why?
***

In [148]:
for i in range(3):
	for j in range(i,3):
		print (f'({i},{j})', end=' ')
	print ( )

(0,0) (0,1) (0,2)
(1,1) (1,2)
(2,2)

#### Your answer:
#### What is the output? Why?
***

In [149]:
for i in range(5):
	for j in range(0, i):
		print (f'({i},{j})', end=' ')
	print ( )

(1,0)
(2,0) (2,1)
(3,0) (3,1) (3,2)
(4,0) (4,1) (4,2) (4,3)